<section id="amenities" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <script type='text/javascript'>
          var ws_wsid = 'gf724e86ff4e048e4aeb48e32da56265b';
          var ws_address = '10 Midsummer Drive, Brampton';
          var ws_format = 'wide';
          var ws_width = '690';
          var ws_height = '525';
        </script>
        <style type='text/css'>
          #ws-walkscore-tile {
            position: relative;
            text-align: left
          }

          #ws-walkscore-tile * {
            float: none;
          }
        </style>
        <div id='ws-walkscore-tile'></div>
        <script type='text/javascript' src='https://www.walkscore.com/tile/show-walkscore-tile.php'></script>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
          <img src="img/amenities-map.jpg" class="img-responsive img-centered" alt="">
      </div>
    </div>
  </div>
</section>
