<section id="features" class="nopadding">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="display-3">Features to Compare:</h1>

      </div>
    </div>

    <div class="row">
    <div class="col-12 col-md-6">
      <h6 class="text-muted">General Property Features</h6>
      <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-plus text-danger mx-2"></i> Priced to Sell !! (ask us for Comps.)</li>
        <li class="list-group-item"><i class="fa fa-plus text-danger mx-2"></i> Almost 6000 sq. ft. - 4015 upstairs + Basement</li>
        <li class="list-group-item"><i class="fa fa-plus text-danger mx-2"></i> 5+2 bedrooms, 4.5+2 washrooms, 1+1 Kitchen</li>
        <li class="list-group-item"><i class="fa fa-plus text-danger mx-2"></i> Seperate formal living and formal dining</li>
        <li class="list-group-item"><i class="fa fa-plus text-danger mx-2"></i> Open concept kitchen, family room and family dining</li>
        <li class="list-group-item"><i class="fa fa-plus text-danger mx-2"></i> Office on main floor</li>
        <li class="list-group-item"><i class="fa fa-plus text-danger mx-2"></i> 9 feet legal basement with extra large windows</li>
        <li class="list-group-item"><i class="fa fa-plus text-danger mx-2"></i> Very flexible basement design. Half portion can be rented or joined together as Rec. space</li>
      </ul>
    </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
          <h6 class="text-muted">Location Location Location !!!</h6>
          <ul class="list-group">
            <li class="list-group-item"><i class="fa fa-plus text-danger mx-2"></i> Corner Lot, Tons of natural light</li>
            <li class="list-group-item"><i class="fa fa-plus text-danger mx-2"></i> Perfect directions - backyard in south. Windows to East and South</li>
            <li class="list-group-item"><i class="fa fa-plus text-danger mx-2"></i> Park in front, Storm water pond on south east</li>
            <li class="list-group-item"><i class="fa fa-plus text-danger mx-2"></i> On most sought after Midsummer Drive</li>
            <li class="list-group-item"><i class="fa fa-plus text-danger mx-2"></i> Walking distance to banks, bus stop, food, groceries</li>
            <li class="list-group-item"><i class="fa fa-plus text-danger mx-2"></i> Walking distance to French Immersion school</li>
          </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
          <h6 class="text-muted">$$$ Upgrades</h6>
          <ul class="list-group">
            <li class="list-group-item"><i class="fa fa-plus text-danger mx-2"></i> All upgrades done to utmost quality and profesionalism</li>
            <li class="list-group-item"><i class="fa fa-plus text-danger mx-2"></i> Premium 56' x 112' corner lot park facing</li>
            <li class="list-group-item"><i class="fa fa-plus text-danger mx-2"></i> Premium landscaping</li>
            <li class="list-group-item"><i class="fa fa-plus text-danger mx-2"></i> Premium stone and brick elevation</li>
            <li class="list-group-item"><i class="fa fa-plus text-danger mx-2"></i> High ceilings in 2 Bedrooms - 10' and 11'</li>
            <li class="list-group-item"><i class="fa fa-plus text-danger mx-2"></i> Legally finished basement. Seperate entrance. Partially rented, Rec room for Owner in Basement</li>
            <li class="list-group-item"><i class="fa fa-plus text-danger mx-2"></i> Custom made Cedar wood shed in backyard</li>
            <li class="list-group-item"><i class="fa fa-plus text-danger mx-2"></i> Upgraded natural wood flooring</li>
            <li class="list-group-item"><i class="fa fa-plus text-danger mx-2"></i> Upgraded berber carpet in 4 bedrooms. Master has upgraded wood flooring</li>
            <li class="list-group-item"><i class="fa fa-plus text-danger mx-2"></i> Upgraded granite flooring in kitchen and Foyer</li>
            <li class="list-group-item"><i class="fa fa-plus text-danger mx-2"></i> Upgraded open riser staircase</li>
            <li class="list-group-item"><i class="fa fa-plus text-danger mx-2"></i> Patterned concrete in front and back</li>
            <li class="list-group-item"><i class="fa fa-plus text-danger mx-2"></i> In ground sprinklers</li>
            <li class="list-group-item"><i class="fa fa-plus text-danger mx-2"></i> $$$ Too many upgrades to count $$$ 250k+ in upgrades</li>
          </ul>
        </div>
    </div>

  </div>
</section>
