<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    <!-- {% include services.html %}
    {% include portfolio_grid.html %}
    {% include about.html %}
    {% include team.html %}
    {% include clients.html %}
    {% include contact.html %}-->
    {% include footer.html %}
    {% include modals.html %}
    {% include gallery-modals.html %}
    {% include js.html %}
    {% include video.html %}
    {% include amenities.html %}
    {% include features.html %}
    {% include gallery.html %}
    {% include slideshow.html %}
    {% include realtor.html %}

    </body>
</html>
